'.source.coursescript':
  'Presentation Video':
    'prefix': 'prevideo'
    'body': """
      [TYPE Pre]
      ID: $1
      Video: $2
      VideoClip: $3
      VideoClip: $4
    """
  'Presentation Audio':
    'prefix': 'preaudio'
    'body': """
      [TYPE Pre]
      ID: $1
      DF$2: $3
      Pic: $4
      Audio: $5
      Animation:
      Pic(effect=${6:fadeIn},time=$7): $8
    """
  'Presentation Reading':
    'prefix': 'prereading'
    'body': """
      [TYPE Pre]
      ID: $1
      Title: $2
      Pic: $3
      Text: $4
    """
  'Open Question':
    'prefix': 'openquestion'
    'body': """
      [TYPE OpenQuestion]
      ID: $1
      Pic: $2
      Audio: $3
    """
  'SentenceFragments':
    'prefix': 'sentf'
    'body': """
      [TYPE SentenceFragments]
      ID: $1
      Text: $2
      Text: $3
      TR_Text: $4
    """
  'SpotErrors':
    'prefix': 'spote'
    'body': """
      [TYPE SpotErrors]
      ID: $1
      Text: $2
      \"""
      tips:
      - activity:
        - $3
      \"""
    """
  'Locating':
    'prefix': 'locating'
    'body': """
      [TYPE Locating]
      ID: $1
      Audio: $2
    """
  'Cloze':
    'prefix': 'cloze'
    'body': """
      [TYPE Cloze]
      ID: $1
      Audio: $2
      Audio: $3
      \"""
      tips:
      - choice:
        - $4
        activity:
        - $5
      - choice:
        - $6
        activity:
        - $7
      \"""
    """
  'Dictation':
    'prefix': 'dictation'
    'body': """
      [TYPE Dictation]
      ID: $1
      // example: Scientists tell us that {{what we see in the universe}} is only a small part of what is there.
      Audio: $2
    """
  'MCQ5':
    'prefix': 'mcq5'
    'body': """
      [TYPE MCQ5]
      ID: $1
      Audio: $2
      Pic: $3
      \"""
      tips:
      - stem:
        - $4
        choice:
        - $5
      \"""
    """
  'MCQ5a':
    'prefix': 'mcq5a'
    'body': """
      [TYPE MCQ5a]
      ID: $1
      Audio(question=true): $2
      Audio(matching=true): $3
      \"""
      tips:
      - stem:
        - $4
        choice:
        - $5
      \"""
    """
  'Sequencing':
    'prefix': 'seq'
    'body': """
      [TYPE Sequencing]
      ID: $1
      Audio: $2
      Audio: $3
      Audio: $4
      \"""
      tips:
      - activity:
        - $5
      \"""
    """
  'RP':
    'prefix': 'rp'
    'body': """
      [TYPE RP]
      ID: $1
      Pic(role=$1): $2
      Pic(role=$2): $3
      Audio(role=$1): $4
      Audio(role=$2): $5
      Audio(role=$1): $6
      Audio(role=$2): $7
      Audio(role=$1): $8
    """
  'OR':
    'prefix': 'or'
    'body': """
      [TYPE OR]
      ID: $1
      Pic: $2
      Audio: $3
      TR: $4
    """
  'SR':
    'prefix': 'sr'
    'body': """
      [TYPE SR]
      ID: $1
      Pic: $2
      Audio: $3
      TR: $4
    """
  'C&D':
    'prefix': 'cnd'
    'body': """
      [TYPE C&D]
      ID: $1
      Pic: $2
      Text: $3
      \"""
      tips:
      - activity:
        - $4
      - activity:
        - $5
      \"""
    """
  'MCQ6':
    'prefix': 'mcq6'
    'body': """
      [TYPE MCQ6]
      ID: $1
      Audio: $2
      Pic: $3
      Opts:
        Audio: $4
        Audio(checked=true): $5
        Audio: $6
      TR: $7
      \"""
      tips:
      - stem:
        - $8
        activity:
        - $9
      \"""
    """
  'MCQ1':
    'prefix': 'mcq1'
    'body': """
      [TYPE MCQ1]
      ID: $1
      Audio: $2
      Pic: $3
      Text: $4
      Opts:
        Text: $5
        Text(checked=true): $6
        Text: $7
        Text: $8
      TR: $9
      \"""
      tips:
      - stem:
        - $10
        activity:
        - $11
      \"""
    """
  'MCQ2':
    'prefix': 'mcq2'
    'body': """
      [TYPE MCQ2]
      ID: $1
      Audio: $2
      Pic: $3
      Text: $4
      Opts:
        Text: $5
        Text(checked=true): $6
        Text: $7
        Text: $8
      TR: $9
      \"""
      tips:
      - stem:
        - $10
        choice:
        - $11
        activity:
        - $12
      \"""
    """
  'MCQ3':
    'prefix': 'mcq3'
    'body': """
      [TYPE MCQ3]
      ID: $1
      Audio: $2
      Pic: $3
      Text: $4
      Opts:
        Text: $5
        Text(checked=true): $6
        Text: $7
        Text: $8
      TR: $9
    """
  'MCQ1a':
    'prefix': 'mcq1a'
    'body': """
      [TYPE MCQ1a]
      ID: $1
      Audio: $2
      Pic: $3
      Text: $4
      Opts:
        Text: $5
        Text(checked=true): $6
        Text: $7
        Text: $8
      TR: $9
    """
  'MCQ2a':
    'prefix': 'mcq2a'
    'body': """
      [TYPE MCQ2a]
      ID: $1
      Audio: $2
      Pic: $3
      Text: $4
      Opts:
        Text: $5
        Text(checked=true): $6
        Text: $7
        Text: $8
      TR: $9
    """
  'MCQ4a':
    'prefix': 'mcq4a'
    'body': """
      [TYPE MCQ4a]
      ID: $1
      Audio: $2
      Pic: $3
      Text: $4
      Opts:
        Text: $5
        Text(checked=true): $6
        Text: $7
        Text: $8
      TR: $8
    """
  'MCQ7':
    'prefix': 'mcq7'
    'body': """
      [TYPE MCQ7]
      ID: $1
      Audio: $2
      Pic: $3
      Text: $4
      Opts:
        Text: $5
        Text(checked=true): $6
        Text: $7
        Text: $8
      TR: $9
    """
  'MCP1':
    'prefix': 'mcp1'
    'body': """
      [TYPE MCP1]
      ID: $1
      Audio: $2
      Opts:
        Text: $3
        Text: $4
        Pic(checked=true): $5
      TR: $6
      \"""
      tips:
      - stem:
        - $7
      \"""
    """
  'MCP2':
    'prefix': 'mcp2'
    'body': """
      [TYPE MCP2]
      ID: $1
      Audio: $2
      Opts:
        Text: $3
        Text: $4
        Pic(checked=true): $5
      TR: $6
      \"""
      tips:
      - stem:
        - $7
      \"""
    """
  'MCP3':
    'prefix': 'mcp3'
    'body': """
      [TYPE MCP3]
      ID: $1
      Audio: $2
      Opts:
        Text: $3
        Text: $4
        Pic(checked=true): $5
      TR: $6
    """
  'WordGuess':
    'prefix': 'wordguess'
    'body': """
      [TYPE WordGuess]
      ID: $1
      Audio: $2
      Text: $3
      TR: $4
    """
  'ChooseAllWords':
    'prefix': 'chooseall'
    'body': """
      [TYPE ChooseAllWords]
      ID: $1
      Opts:
        Text(checked=true): $2
        Text(checked=true): $3
        Text: $4
        Text: $5
        Text: $6
        Text: $7
    """
  'WordFragments':
    'prefix': 'wordfragments'
    'body': """
      [TYPE WordFragments]
      ID: $1
      Pic: $2
      Audio: $3
      Text: $4
    """
  'SentenceCompletion':
    'prefix': 'sentencecompletion'
    'body':"""
      [TYPE SentenceCompletion]
      ID: $1
      Pic: $2
      Audio: $3
      Text: $4
    """
  'Level':
    'prefix': "level"
    'body': """
    = Level $1
    """
  'Milestone':
    'prefix': "milestone"
    'body': """
    == Milestone $1
    \"""
    summary: $2
    \"""
    """
  'Session':
    'prefix': "session"
    'body': """
    === Session $1 $2
    \"""
    name: $3
    \"""
    """
  'Episode':
    'prefix': "episode"
    'body': """
    ==== Episode $1
    \"""
    intro: $2
    intro_language:
      zh-Hans: $3
    \"""
    """
  'Group':
    'prefix': "group"
    'body': """
    ===== Group $1
    """
