'.source.coursescript':
  'DialoguePractice':
    'prefix': 'DP'
    'body': """
      [TYPE DP]
      Text:$1
      Audio(role=):$2
      Pic:$3
      Scorer(role=, practice_role=true):$4
      Hint:$5
    """
  'OpenSpeaking':
    'prefix': 'OpenSpeaking'
    'body': """
      [TYPE OpenSpeaking]
      \"""
      open_speaking:
        instruction: $1
        text:
        - "$2"
        - "$3"
        - "$4"
        hint:
        - "$5"
        - "$6"
        - "$7"
        answers:
        - "$8"
        - "$9"
        - "$10"
      \"""
    """
  'VT':
    'prefix': 'VT'
    'body': """
      [TYPE VT]
      ID: $1
      Video: $2
      VideoClip: $3
      VideoClip: $4
    """
  'HW':
    'prefix': 'HW'
    'body': """
      [TYPE HW]
      ID: $1
      Text: $2
    """
  'T2P':
    'prefix': 't2p'
    'body': """
      [TYPE T2P]
      ID: $1
      Pic: $3
      Opts:
        Pic(checked=true): $4
        Pic: $5
        Pic: $6
        Pic: $7
      TR: $8
    """
  'A2T':
    'prefix': 'a2t'
    'body': """
      [TYPE A2T]
      ID: $1
      Audio: $2
      Pic: $3
      Opts:
        Text: $4
        Text(checked=true): $5
        Text: $6
        Text: $7
      TR: $8
    """
  'A2P':
    'prefix': 'a2p'
    'body': """
      [TYPE A2P]
      ID: $1
      Audio: $2
      Opts:
        Pic(checked=true): $3
        Pic: $4
        Pic: $5
        Pic: $6
      TR: $7
    """
  'Presentation Video':
    'prefix': 'prevideo'
    'body': """
      [TYPE Pre]
      Video: $1
      VideoClip: $2
      VideoClip: $3
    """
  'Presentation Audio':
    'prefix': 'preaudio'
    'body': """
      [TYPE Pre]
      DF$1: $2
      Pic: $3
      Audio: $4
      Animation:
      Pic(effect=${5:fadeIn},time=$6): $7
    """
  'Presentation Reading':
    'prefix': 'prereading'
    'body': """
      [TYPE Pre]
      Title: $1
      Pic: $2
      Text: $3
    """
  'Open Question':
    'prefix': 'openquestion'
    'body': """
      [TYPE OpenQuestion]
      Pic: $1
      Audio: $2
    """
  'SentenceFragments':
    'prefix': 'sentf'
    'body': """
      [TYPE SentenceFragments]
      Text: $1
      Text: $2
      TR_Text: $3
    """
  'SpotErrors':
    'prefix': 'spote'
    'body': """
      [TYPE SpotErrors]
      ID: $1
      Text: $2
    """
  'Locating':
    'prefix': 'locating'
    'body': """
      [TYPE Locating]
      Audio: $1
    """
  'Cloze':
    'prefix': 'cloze'
    'body': """
      [TYPE Cloze]
      Audio: $1
      Audio: $2
    """
  'Dictation':
    'prefix': 'dictation'
    'body': """
      [TYPE Dictation]
      Pic: $1
      // example: Scientists tell us that {{what we see in the universe}} is only a small part of what is there.
      Audio: $2
      Audio: $3
      Audio: $4
      Audio: $5
      TR: $6
    """
  'Spelling':
    'prefix': 'Spelling'
    'body': """
      [TYPE Spelling]
      // example: Scientists tell us that {{what we see in the universe}} is only a small part of what is there.
      //题干音频或文本二选一
      Audio: $1
      Text:$2
      TR: $3
    """
  'MCQ5':
    'prefix': 'mcq5'
    'body': """
      [TYPE MCQ5]
      Audio: $1
      Pic(checked=true): $2
      Text(checked=true): $3
    """
  'MCQ5a':
    'prefix': 'mcq5a'
    'body': """
      [TYPE MCQ5a]
      Audio(question=true): $1
      Audio(matching=true): $2
    """
  'Sequencing':
    'prefix': 'seq'
    'body': """
      [TYPE Sequencing]
      Text: $1
      Text: $2
      Text: $3
      Text: $4
    """
  'RP':
    'prefix': 'rp'
    'body': """
      [TYPE RP]
      Pic(role=1, practice_role=true): $1
      Pic(role=2): $2
      Audio(role=1): $3
      Audio(role=2): $4
      Audio(role=1): $5
      Audio(role=2): $6
    """
  'OR':
    'prefix': 'or'
    'body': """
      [TYPE OR]
      Pic: $1
      Audio: $2
      TR: $3
    """
  'SR':
    'prefix': 'sr'
    'body': """
      [TYPE SR]
      Pic: $1
      Audio: $2
      TR: $3
    """
  'C&D':
    'prefix': 'cnd'
    'body': """
      [TYPE C&D]
      Pic: $1
      Text: $2
      TR: $3
    """
  'MCQ6':
    'prefix': 'mcq6'
    'body': """
      [TYPE MCQ6]
      Audio: $1
      Pic: $2
      Opts:
        Audio(checked=true): $3
        Audio: $4
        Audio: $5
        Audio: $6
      TR: $7
    """
  'MCQ1':
    'prefix': 'mcq1'
    'body': """
      [TYPE MCQ1]
      Audio: $1
      Pic: $2
      Opts:
        Text: $3
        Text(checked=true): $4
        Text: $5
        Text: $6
      TR: $7
    """
  'MCQ2':
    'prefix': 'mcq2'
    'body': """
      [TYPE MCQ2]
      Audio: $1
      Pic: $2
      Text: $3
      Opts:
        Text: $4
        Text(checked=true): $5
        Text: $6
        Text: $7
      TR: $8
    """
  'MCT':
    'prefix': 'mct'
    'body': """
      [TYPE MCT]
      //支持题干audio/pic/text组合搭配，支持单选／多选
      Audio: $1
      Pic: $2
      Text: $3
      Opts:
        Text(checked=true): $4
        Text(checked=true): $5
        Text: $6
        Text: $7
      TR: $8
    """
  'MCQ3':
    'prefix': 'mcq3'
    'body': """
      [TYPE MCQ3]
      Audio: $1
      Text: $2
      Opts:
        Text: $3
        Text(checked=true): $4
        Text: $5
        Text: $6
      TR: $7
    """
  'MCQ1a':
    'prefix': 'mcq1a'
    'body': """
      [TYPE MCQ1a]
      Audio: $1
      Pic: $2
      Text: $3
      Opts:
        Text: $4
        Text(checked=true): $5
        Text: $6
        Text: $7
      TR: $8
    """
  'MCQ2a':
    'prefix': 'mcq2a'
    'body': """
      [TYPE MCQ2a]
      Audio: $1
      Pic: $2
      Text: $3
      Opts:
        Text: $4
        Text(checked=true): $5
        Text: $6
        Text: $7
      TR: $8
    """
  'MCQ4a':
    'prefix': 'mcq4a'
    'body': """
      [TYPE MCQ4a]
      Audio: $1
      Pic: $2
      Text: $3
      Opts:
        Text: $4
        Text(checked=true): $5
        Text: $6
        Text: $7
      TR: $8
    """
  'MCQ4b':
    'prefix': 'mcq4b'
    'body': """
      [TYPE MCQ4b]
      Audio: $1
      Text: $2
      Opts:
        Text(checked=true): $3
        Text: $4
        Text: $5
      TR: $6
    """
  'MCQ7':
    'prefix': 'mcq7'
    'body': """
      [TYPE MCQ7]
      Audio: $1
      Opts:
        Text(checked=true): $2
        Text(checked=true): $3
        Text: $4
        Text: $5
        Text: $6
    """
  'MCP1':
    'prefix': 'mcp1'
    'body': """
      [TYPE MCP1]
      Audio: $1
      Opts:
        Pic(checked=true): $2
        Pic: $3
        Pic: $4
        Pic: $5
      TR: $6
    """
  'MCP2':
    'prefix': 'mcp2'
    'body': """
      [TYPE MCP2]
      Audio: $1
      Opts:
        Pic(checked=true): $2
        Pic: $3
        Pic: $4
        Pic: $5
        Pic: $6
      TR: $7
    """
  'MCP3':
    'prefix': 'mcp3'
    'body': """
      [TYPE MCP3]
      Audio: $1
      Opts:
        Text: $2
        Text: $3
        Pic(checked=true): $4
      TR: $5
    """
  'WordGuess':
    'prefix': 'wordguess'
    'body': """
      [TYPE WordGuess]
      Pic: $1
      Text: $2
      Audio: $3
      TR: $4
    """
  'ChooseAllWords':
    'prefix': 'chooseall'
    'body': """
      [TYPE ChooseAllWords]
      Audio: $1
      Text: $2
      Opts:
        Text(checked=true): $3
        Text(checked=true): $4
        Text(checked=true): $5
        Text: $6
        Text: $7
        Text: $8
    """
  'WordFragments':
    'prefix': 'wordfragments'
    'body': """
      [TYPE WordFragments]
      Pic: $1
      Audio: $2
      Text: $3
      TR: $4
    """
  'SentenceCompletion':
    'prefix': 'sentencecompletion'
    'body':"""
      [TYPE SentenceCompletion]
      Pic: $1
      Audio: $2
      Text: $3
      Scorer: $4
    """
  'ErrorHunting':
    'prefix': 'errorhunting'
    'body': """
      [TYPE ErrorHunting]
      Text: $1
      TR: $2
    """
  'MCP':
    'prefix': 'mcp'
    'body': """
      [TYPE MCP]
      //题干audio和text任选一个
      Audio: $1
      Text: $2
      Opts:
        Pic(checked=true): $3
        Pic: $4
        Pic: $5
        Text: $6
      TR: $7
    """
  'Matching':
    'prefix': 'matching'
    'body': """
      [TYPE Matching]
      //每一组为audio对text，或者text对text，最多3组
      Instruction:$1
      QuestionPart:
      Audio:$2
      Text:$3
      QuestionPart:
      Audio:$4
      Text:$5
      QuestionPart:
      Audio:$6
      Text:$7
    """
  'Level':
    'prefix': "level"
    'body': """
    = Level $1
    """
  'Milestone':
    'prefix': "milestone"
    'body': """
    == Milestone $1
    \"""
    title: $2
    summary: $3
    image_url: $4
    \"""
    """
  'Session':
    'prefix': "session"
    'body': """
    === Session $1 $2
    \"""
    name: $3
    name_language:
      zh-Hans: $4
    intro: $5
    freetalk:
     name: $6
     vteacher_msg: $7
      avatar: $8
      nickname: $9
      description:"$10"
      cover: $11
      title: $12
    \"""
    """
  'Assessment':
    'prefix': "assessment"
    'body': """
    === Assessment $1
    """
  'Episode':
    'prefix': "episode"
    'body': """
    ==== Episode $1
    \"""
    part: $2
    intro: $3
    intro_language:
      zh-Hans: $4
    \"""
    """
  'Group':
    'prefix': "group"
    'body': """
    ===== Group $1
    """
  'Speakinglink':
    'prefix': 'Speakingl'
    'body': """
    [TYPE SL]
    Audio: $1
    Opts:
      Scorer: $2
      TR_Text: $3
      TR: $4
      Text:$5
      TR_Text:$6
      TR:$7
    """
  'RA':
      'prefix': 'RA'
      'body': """
      [TYPE RA]
      Pic: $1
      Audio: $2
      TR: $3
      """
  'note':
      'prefix': 'note'
      'body': """
      \"""
      note:
      - title: $1
        item:
        - text: $2
        - pic: $3
      \"""
      """
  'SpeakingQA':
    'prefix': 'SpeakingQA'
    'body':"""
      [TYPE SpeakingQA]
      Audio: $1
      Pic: $2
      Hint: $3
      Scorer: $4
   """
  'SpeakingMCQ':
      'prefix': 'SpeakingMCQ'
      'body':"""
      [TYPE SpeakingMCQ]
      //题干支持仅audio或仅text或仅pic或audio加text
      Audio: $1
      Text: $2
      Opts:
      Text(checked=true): $3
      Text: $4
      Text: $5
   """
  'PreDialoguePlay':
      'prefix': 'PreDialoguePlay'
      'body':"""
      [TYPE PreDialoguePlay]
      Pic(checked=true): $1
      Pic(role=1): $2
      Pic(role=2): $3
      Audio(role=1): $4
      Audio(role=2): $5
      Audio(role=1): $6
      Audio(role=2): $7
   """
  'vocab':
      'prefix': 'vocab'
      'body': """
      \"""
      vocab:
      - word: $1
        desc: $2
        pos: $3
      \"""
      """
  'vocabkp':
    'prefix': 'vocabkp'
    'body': """
    \"""
    vocabkp:
      - $1
      - $2
      - $3
    \"""
    """
  'SO':
    'prefix': 'so'
    'body': """
      [TYPE SO$1]
      ID: $2
      Pic: $3
      Audio: $4
      TR: $5
    """
  'P2T':
    'prefix': 'p2t'
    'body': """
      [TYPE P2T]
      ID: $1
      Pic: $2
      Opts:
      Text(checked=true): $3
      Text: $4
      Text: $5
      TR: $6
    """
  'DubShow':
    'prefix':'dubshow'
    'body':"""
      [TYPE DubShow]
      ID: $1
      Video: $2
      VideoClip: $3
      VideoClip: $4
      VideoClip: $5
      Audio: $6
      Audio(isBGM=true): $7
    """
  'A2T2':
    'prefix': 'a2t2'
    'body': """
      [TYPE A2T2]
      ID: $1
      Audio: $2
      Pic: $3
      Opts:
        Text: $4
        Text(checked=true): $5
        Text: $6
      TR: $7
    """
  'A2P_MQSA':
    'prefix': 'mqsa'
    'body': """
      [TYPE A2P_MQSA]
      ID: $1
      Opts:
      Mix:
        Pic: $2
        Audio: $3
        Text: $4
      Scene:
        Pic: $5
        coordinate: x=$6,y=$7,w=$8,h=$9
      QuestionPart:
        Pic: $10
        Audio: $11
    """
  'A2P_SQMA':
    'prefix': 'sqma'
    'body': """
      [TYPE A2P_SQMA]
      ID: $1
      Audio: $2
      Opts:
      Mix:
        Pic(checked=true): $3
        Audio: $4
        Text: $5
      Mix:
        Pic: $6
        Audio: $7
        Text: $8
      Scene:
        Pic: $9
        coordinate: x=$10,y=$11,w=$12,h=$13
        coordinate: x=$14,y=$15,w=$16,h=$17
    """
  'MCQx':
    'prefix': 'MCQx'
    'body': """
      [TYPE MCQx]
      Text: $1
      Audio: $2
      Text: $3
      Opts:
      Text(checked=true): $4
      Text(checked=true): $5
      Text: $6
      Text: $7
    """
  'explanation':
    'prefix': 'explanation'
    'body': """
      \"""
      explanation: "$1"
      \"""
    """
  'PreTextTeaching':
    'prefix': 'pretextteaching'
    'body':"""
      [TYPE PreTextTeaching]
      \"""
      text_teaching:
      - title: "$2"
        paragraph: "$3"
      - title: "$4"
        bullet_points:
        - "$5"
        - "$6"
        - "$7"
      \"""
    """
  'SentenceQuiz':
    'prefix': 'SentenceQuiz'
    'body': """
      [TYPE SentenceQuiz]
      ID: $1
      Audio: $2
      \"""
      category: $3
      \"""
    """
  'WordQuiz':
    'prefix': 'WordQuiz'
    'body': """
      [TYPE WordQuiz]
      ID: $1
      Audio: $2
      Text: $3
      \"""
      category: $4
      \"""
    """
  'TeachingVideo':
    'prefix': 'TeachingVideo'
    'body': """
      [TYPE TeachingVideo]
      ID: $1
      Video: $2
      VideoClip: $3
      VideoClip: $4
      VideoClip: $5
      VideoClip: $6
      VideoClip: $7
      \"""
      category: $8
      \"""
    """
  'PhonemePractice':
    'prefix': 'PhonemePractice'
    'body': """
      [TYPE PhonemePractice]
      ID: $1
      Video: $2
      Audio: $3
      Text: $4
      Text: $5
      \"""
      category: $6
      \"""
    """
  'WordPronoun':
    'prefix': 'WordPronoun'
    'body': """
      [TYPE WordPronoun]
      ID: $1
      Audio: $2
      Text: $3
      \"""
      category: $4
      \"""
      """
  'SentencePronoun':
    'prefix': 'SentencePronoun'
    'body': """
      [TYPE SentencePronoun]
      ID: $1
      Audio: $2
      """
  'MPListeningPractice':
    'prefix': 'MPListeningPractice'
    'body': """
      [TYPE MPListeningPractice]
      ID: $1
      Audio: $2
      Text: $3
      Audio: $4
      Text: $5
      \"""
      category: $6
      tag: $7
      \"""
      """
  'MPTeachingVideo':
    'prefix': 'MPTeachingVideo'
    'body': """
      [TYPE MPTeachingVideo]
      ID: $1
      Video: $2
      Audio: $3
      Audio: $4
      Audio: $5
      \"""
      category: $6
      tag: $7
      \"""
      """
  'MPPronounPractice':
    'prefix': 'MPPronounPractice'
    'body': """
      [TYPE MPPronounPractice]
      ID: $1
      Audio: $2
      Text: $3
      \"""
      category: $4
      tag: $5
      \"""
      """
  'RimePronoun':
    'prefix': 'RimePronoun'
    'body': """
      [TYPE RimePronoun]
      ID: $1
      Audio: $2
      \"""
      category: $3
      tag: $4
      \"""
      """
  'ConsonantPractice':
    'prefix': 'ConsonantPractice'
    'body': """
      [TYPE ConsonantPractice]
      ID: $1
      Video: $2
      Audio: $3
      Text: $4
      Text: $5
      """
  'SyllablePractice':
    'prefix': 'SyllablePractice'
    'body': """
      [TYPE SyllablePractice]
      ID: $1
      Audio: $2
      Text: $3
      \"""
      category: $4
      \"""
      """
  'SyllableStress':
    'prefix': 'SyllableStress'
    'body': """
      [TYPE SyllableStress]
      ID: $1
      Audio: $2
      Text: $3
      Text: $4
      \"""
      category: $5
      vocab: $6
      - word: $7
        desc: $8
        pos: $9
      \"""
      """
  'RhythmInGroup':
    'prefix': 'RhythmInGroup'
    'body': """
      [TYPE RhythmInGroup]
      ID: $1
      Audio: $2
      Text: $3
      Text: $4
      \"""
      category: $5
      \"""
      """
  'RhythmInGroupS':
    'prefix': 'RhythmInGroupS'
    'body': """
      [TYPE RhythmInGroupS]
      ID: $1
      Audio: $2
      Text: $3
      QuestionPart:
      Audio: $4
      Text: $5
      Text: $6
      QuestionPart:
      Audio: $7
      Text: $8
      Text: $9
      Text: $10
      \"""
      category: $11
      \"""
      """
  'WordIntonation':
    'prefix': 'WordIntonation'
    'body': """
      [TYPE WordIntonation]
      ID: $1
      Audio: $2
      Text: $3
      Text: $4
      """
  'IntonationInGroup':
    'prefix': 'IntonationInGroup'
    'body': """
      [TYPE IntonationInGroup]
      ID: $1
      Audio: $2
      Text: $3
      Text: $4
      """
  'IntonationInGroupS':
    'prefix': 'IntonationInGroupS'
    'body': """
      [TYPE IntonationInGroupS]
      ID: $1
      Audio: $2
      Text: $3
      Text: $4
      QuestionPart:
      Audio: $5
      Text: $6
      QuestionPart:
      Audio: $7
      Text: $8
      QuestionPart:
      Audio: $9
      Text: $10
      QuestionPart:
      Audio: $11
      Text: $12
      """
  'LinkingCVDF1':
    'prefix': 'LinkingCVDF1'
    'body': """
      [TYPE LinkingCV]
      ID: $1
      DF1:
      Audio: $2
      Text: $3
      Text: $4
      Text: $5
      """
  'LinkingCVDF2':
    'prefix': 'LinkingCVDF2'
    'body': """
      [TYPE LinkingCV]
      ID: $1
      DF2:
      Audio: $2
      Text: $3
      Text: $4
      Text: $5
      """
  'LinkingCVDF3':
    'prefix': 'LinkingCVDF3'
    'body': """
      [TYPE LinkingCV]
      ID: $1
      DF3:
      Audio: $2
      Text: $3
      Text: $4
      Text: $5
      """
  'LossOfPlosion':
    'prefix': 'LossOfPlosion'
    'body': """
      [TYPE LossOfPlosion]
      ID: $1
      Audio: $2
      Text: $3
      Text: $4
      """
  'ReducingPronoun':
    'prefix': 'ReducingPronoun'
    'body': """
      [TYPE ReducingPronoun]
      ID: $1
      Audio: $2
      Text: $3
      Text: $4
      Text: $5
      """
  'ConsecutiveLinkings':
    'prefix': 'ConsecutiveLinkings'
    'body': """
      [TYPE ConsecutiveLinkings]
      ID: $1
      Audio: $2
      Text: $3
      Text: $4
      Text: $5
      Text: $6
      """
  'MultipleLinkings':
    'prefix': 'MultipleLinkings'
    'body': """
      [TYPE MultipleLinkings]
      ID: $1
      Audio: $2
      Text: $3
      QuestionPart:
      Audio: $4
      Text: $5
      Text: $6
      Text: $7
      Text: $8
      QuestionPart:
      Audio: $9
      Text: $10
      Text: $11
      QuestionPart:
      Audio: $12
      Text: $13
      Text: $14
      Text: $15
      """
  'T2A':
    'prefix': 'T2A'
    'body': """
      [TYPE T2A]
      ID: $1
      Text: $2
      Opts:
      Audio: $3
      Audio: $4
      Audio: $5
      """
  'ORBell':
    'prefix': 'ORBell'
    'body': """
      [TYPE ORBell]
      ID: $1
      Audio: $2
      Text: $3
      Text: $4
      """
  'A2A':
    'prefix': 'A2A'
    'body': """
      [TYPE A2A]
      ID:$1
      Audio:$2
      Opts:
      Audio(checked=true):$3
      Audio:$4
      Audio:$5
      Audio:$6
      """
  'RA2':
    'prefix': 'RA2'
    'body': """
      [TYPE RA2]
      ID:$1
      Audio:$2
      """
  'P2S':
    'prefix': 'P2S'
    'body': """
      [TYPE P2S]
      ID:$1
      Pic:$2
      Audio:$3
      Text: $4
      """
  'OR2':
    'prefix': 'OR2'
    'body': """
      [TYPE OR2]
      ID:$1
      Audio:$2
      """
  'OR3':
    'prefix': 'OR3'
    'body': """
      [TYPE OR3]
      ID:$1
      Audio:$2
      Text: $3
      Text: $4
      """
  'OR4':
    'prefix': 'OR4'
    'body': """
      [TYPE OR4]
      ID:$1
      Audio:$2
      QuestionPart:
      Text: $3
      Text: $4
      QuestionPart:
      Text: $5
      Text: $6
      QuestionPart:
      Text: $7
      Text: $8
      """
  'SituationalQA':
    'prefix': 'SituationalQA'
    'body': """
      [TYPE SituationalQA]
      ID:$1
      Text:$2
      QuestionPart:
      Audio: $3
      Text: $4
      QuestionPart:
      Audio: $5
      Text: $6
      """
  'TopicParaphrase':
    'prefix': 'TopicParaphrase'
    'body': """
      [TYPE TopicParaphrase]
      ID:$1
      Text:$2
      Text: $3
      """
  'WordFormation':
    'prefix': 'wf'
    'body': """
      [TYPE WF$1]
      ID: $2
      Pic: $3
      Audio: $4
      TR: $5
      TR_Pic: $6
      TR_Text: $7
    """
  'SpeakSentence':
    'prefix': 'ss'
    'body': """
      [TYPE SS]
      ID: $1
      Audio: $2
      Pic: $3
      Opts:
      QuestionPart:
      Audio: $4
      QuestionPart:
      Audio: $5
      QuestionPart:
      Audio: $6
      TR: $7
      TR_Text: $8
      TR_Pic: $9
    """
  'SpeakWords':
    'prefix': 'SW1'
    'body': """
      [TYPE SW1]
      ID: $1
      QuestionPart:
        Pic: $2
        Audio: $3
        Text: $4
      QuestionPart:
        Pic: $5
        Audio: $6
        Text: $7
    """
  'PPT':
    'prefix': 'ppt'
    'body': """
      [TYPE PPT]
      ID: $1
      Audio: $2
      Opts:
      Mix:
      Pic: $3
      Audio: $4
      Text: $5
      Mix:
      Pic(checked=true): $6
      Audio: $7
      Text: $8
      Mix:
      Pic: $9
      Audio: $10
      Text: $11
    """
  'C2E':
    'prefix': 'c2e'
    'body':"""
      [TYPE C2E]
      \"""
      c2e:
        text: $1
        hint:
        - "$2"
        - "$3"
        - "$4"
        scorepoints:
        - "$5"
        - "$6"
        - "$7"
        answers:
        - "$8"
        - "$9"
        - "$10"
        \"""
    """
  'SemiSentConstruct':
    'prefix': 'semisentconstruct'
    'body':"""
      [TYPE SemiSentConstruct]
      \"""
      ssc:
        vocabs:
        - "$1"
        - "$2"
        - "$3"
        - "$4"
        - "$5"
        - "$6"
        knowledge_points:
        - "$7"
        - "$8"
        - "$9"
        - "$10"
        - "$11"
        - "$12"
        answers:
        - "$13"
        - "$14"
        \"""
    """
  'BlockA2P':
    'prefix': 'BlockA2P'
    'body':"""
      [TYPE B_A2P]
      ID: $1
      Audio: $2
      Opts:
      Pic(checked=true): $3
      Pic: $4
    """
  'BlockA2T':
    'prefix': 'BlockA2T'
    'body':"""
      [TYPE B_A2T]
      ID: $1
      Audio: $2
      Opts:
      Text(checked=true): $3
      Text: $4
    """
  'BlockA2PT':
    'prefix': 'BlockA2PT'
    'body': """
      [TYPE B_A2PT]
      ID: $1
      Audio: $2
      Opts:
      Mix:
        Pic(checked=true): $3
        Text: $4
      Mix:
        Pic: $5
        Text: $6
      """
  'BlockP':
    'prefix': 'BlockP'
    'body': """
      [TYPE B_P]
      ID: $1
      // delite audio，用于语音识别和打分，必须写ID
      Audio: $2
      Audio: $3
      Pic: $4
      Text: $4
    """
  'BlockT':
    'prefix': 'BlockT'
    'body': """
      [TYPE B_T]
      ID: $1
      // delite audio，用于语音识别和打分，必须写ID
      Audio: $2
      Audio: $3
      Text: $4
    """
  'BlockPT':
    'prefix': 'BlockPT'
    'body': """
      [TYPE B_PT]
      ID: $1
      // delite audio，用于语音识别和打分，必须写ID
      Audio: $2
      Audio: $3
      Pic: $4
      Text: $5
    """
  'AIXPresentationTeaching':
    'prefix':'aixpt'
    'body':"""
      [TYPE AIXPresentationTeaching]
      Video(stream=true): $1
      Video(video_point=true): $2
      \"""
      display_layout: REGULAR
      \"""
    """
  'AIXPresentationAward':
    'prefix': 'aixpa'
    'body': """
      [TYPE AIXPresentationAward]
      Video(stream=true): $1
      \"""
      display_layout: REGULAR
      \"""
    """
  'AIXPresentationExchange':
    'prefix': 'aixpe'
    'body': """
      [TYPE AIXPresentationExchange]
      Video(stream=true): $1
      \"""
      display_layout: REGULAR
      \"""
    """
  'AIXAudio2Audio':
    'prefix': 'aixa2a'
    'body':"""
      [TYPE AIXAudio2Audio]
      Video(stream=true): $1
      Video(stream=true): $2
      Video(stream=true): $3
      Video(stream=true): $4
      Video(stream=true): $5
      Video(stream=true): $6
      Video(stream=true): $7
      Video(stream=true): $8
      Audio(video_point=true): $9
      QuestionPart:
      Scorer: $10
      \"""
      display_layout: REGULAR
      \"""
    """
  'AIXAudio2AudioFree':
    'prefix': 'aixa2afree'
    'body': """
      [TYPE AIXAudio2AudioFree]
      Video(stream=true): $1
      Video(stream=true): $2
      Video(stream=true): $3
      Video(stream=true): $4
      Text(stream=true): $5
      Video(stream=true): $6
      Text(stream=true): $7
      QuestionPart:
      Scorer(): $8
      \"""
      display_layout: REGULAR
      \"""
    """
  'AIXA2PPuzzle':
    'prefix': 'aixa2ppuzzle'
    'body': """
      [TYPE AIXA2PPuzzle]
      Video(stream=true): $1
      Video(stream=true): $2
      Video(stream=true): $3
      Video(stream=true): $4
      Video(stream=true): $5
      Pic(background=true): $6
      Pic(sr_start=true): $7
      Pic(sr_end=true): $8
      QuestionPart: $9
      Pic: $10
      coordinate: x=$11,y=$12
      Opts:
      Mix:
      Audio(sound_effect=true): $13 
      Animation: 
      Pic: $14
      coordinate: x=$15,y=$16
      Pic: $17
      coordinate: x=$18,y=$19
      Mix:
      Audio(sound_effect=true): $20 
      Animation:
      Pic: $21
      coordinate: x=$22,y=$23
      Pic: $24
      coordinate: x=$25,y=$26
      TR_Pic: $27
      coordinate: x=$28,y=$29
      \"""
      display_layout: REGULAR
      \"""
    """
  'AIXA2PTool':
    'prefix': 'aixa2ptool'
    'body': """
      [TYPE AIXA2PTool]
      Video(stream=true): $1
      Video(stream=true): $2
      Video(stream=true): $3
      Video(stream=true): $4
      Video(stream=true): $5
      QuestionPart:
      Pic: $6
      coordinate: x=$7,y=$8
      Opts:
      Mix:
      Audio(sound_effect=true): $9 
      Animation:
      Pic(checked=true): $10
      coordinate: x=$11,y=$12
      Pic: $13
      Mix:
      Audio(sound_effect=true): $14 
      Animation:
      Pic: $15
      coordinate: x=$16,y=$17
      Pic: $18
      \"""
      display_layout: REGULAR
      \"""
    """
  'AIXA2PDrag2':
    'prefix': 'aixa2pdrag2'
    'body': """
      [TYPE AIXA2PDrag2]
      Video(stream=true): $1
      Video(stream=true): $2
      Video(stream=true): $3
      Video(stream=true): $4
      Video(stream=true): $5
      QuestionPart:
      Animation:
      Pic: $6
      coordinate: x=$7,y=$8
      Pic: $9 
      Animation:
      Pic: $10 
      coordinate: x=$11,y=$12
      Pic: $13 
      Opts:
      Mix:
      Audio(sound_effect=true): $14
      Animation:
      Pic: $15 
      coordinate: x=$16,y=$17
      Pic: $18 
      coordinate: x=$19,y=$20
      Mix:
      Audio(sound_effect=true): $21 
      Animation:
      Pic: $22 
      coordinate: x=$23,y=$24
      Pic: $25
      coordinate: x=$26,y=$27
      \"""
      display_layout: REGULAR
      \"""
    """
  'AIXA2PTap1':
    'prefix': 'aixa2ptap1'
    'body': """
      [TYPE AIXA2PTap1]
      Video(stream=true): $1
      Video(stream=true): $2
      Video(stream=true): $3
      Video(stream=true): $4
      Video(stream=true): $5
      QuestionPart:
      Opts:
      Mix:
      Audio(sound_effect=true): $6 
      Animation:
      Pic: $7
      coordinate: x=$8,y=$9
      Pic: $10
      coordinate: x=$11,y=$12
      Mix:
      Audio(sound_effect=true): $13
      Animation:
      Pic: $14
      coordinate: x=$15,y=$16
      Pic: $17
      coordinate: x=$18,y=$19
      \"""
      display_layout: REGULAR
      \"""
    """
  'AIXPA2ABuild1':
    'prefix': 'aixpa2abuild1'
    'body': """
      [TYPE AIXPA2ABuild1]
      Video(stream=true): $1 
      Video(stream=true): $2
      Video(stream=true): $3
      Video(stream=true): $4
      Video(stream=true): $5
      Pic(background=true): $6
      Pic(sr_start=true): $7
      QuestionPart:
      Scorer: $8
      Audio(sound_effect=true): $9
      Animation:
      Pic: $10
      coordinate: x=$11,y=$12
      Pic: $13
      coordinate: x=$14,y=$15
      \"""
      display_layout: REGULAR
      \"""
    """
