'name': 'Course Script'
'scopeName': 'source.coursescript'
'limitLineLength': false
'fileTypes': [
  'coursescript'
  'course'
]
'patterns': [
  {
    'include': '#activity_options'
  }
  {
    'include': '#brackets'
  }
  {
    'include': '#delimiters'
  }
  {
    'include': '#headings'
  }
  {
    'match': '\\\\.'
    'name': 'constant.character.escape.coursescript'
  }
  # italic mongoid
  {
    'match': '[a-f0-9]{24}'
    'name': 'markup.italic.coursescript'
  }
  {
    'match': '(ID:)([a-f0-9]{24})'
    'captures': {
      1: { 'name': 'storage.type.coursescript' }
      2: { 'name': 'markup.italic.coursescript' }
    }
  }
  ## Metadata
  {
    'comment': 'Metadata'
    'begin': '^"{3}$'
    'end': '^"{3}$'
    'name': 'meta.block.note.coursescript'
    'patterns': [
      {
        'include': 'source.yaml'
      }
    ]
  }
  ## TYPE
  {
    'begin': '\\b(TYPE)\\s+'
    'beginCaptures':
      '1':
        'name': 'constant.character.coursescript'
    'end': '(?!\\G)'
    'patterns': [
      {
        'match': 'TYPE'
        'name': 'markup.heading.coursescript'
      }
      {
        'match': '\\S+\\b'
        'name': 'markup.bold.coursescript'
      }
    ]
  }
  # Keywords
  # Audio
  # Pic
  # Text
  # ID
  # Opts
  # DF(Display Format)
  # Video
  # TR(Teaching Response)
  # TR_TEXT
  # Video
  # Videoclip
  # Mix
  # Scene
  # coordinate
  # QuestionPart
  {
    'match': '(ID|Text|Audio|Pic|Video|VideoClip|Opts|TR|TR_TEXT|TR_Text|Title|Mix|Scene|QuestionPart|coordinate|TR_Pic):\\s?(?!\\s)'
    'name': 'storage.type.coursescript'
  }
  # DF01
  {
    'match': '(DF\\d+):\\s'
    'name': 'storage.type.coursescript'
  }
  # Animation
  {
    'match': '(FI|Animation):\\s'
    'name': 'storage.type.coursescript'
  }
  # == Lesson
  {
    'match': '(FI|Animation):\\s'
    'name': 'storage.type.coursescript'
  }
  ## Audio[F]:
  ## TR[F]:
  {
    'match': '[A-Z]+\\[[A-Z]\\]:\\s'
    'name': 'storage.type.coursescript'
  }
  ## A(gender=F)
  {
    'begin': '\\b([A-Za-z]{1,})\\('
    'beginCaptures':
      '1':
        'name': 'storage.type.coursescript'
    'end': '\\)(:)'
    'endCaptures':
      '1':
        'name': 'storage.type.coursescript'
    'patterns': [
      {
        'match': '(\\w+)=([a-zA-Z0-9\\-]*)'
        'name': 'support.function.coursescript'
      }
    ]
  }

  {
    'comment': 'Interpreted string literals'
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.coursescript'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.coursescript'
    'name': 'string.quoted.double.coursescript'
    'patterns': [
      {
        'include': '#string_escaped_char'
      }
      {
        'include': '#string_placeholder'
      }
    ]
  }
  {
    'comment': 'Raw string literals'
    'begin': '`'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.coursescript'
    'end': '`'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.coursescript'
    'name': 'string.quoted.raw.coursescript',
    'patterns': [
      {
        'include': '#string_placeholder'
      }
      {
        'include': '#activity_options'
      }
    ]
  }
  # Comments
  {
    'begin': '/\\*'
    'captures':
      '0':
        'name': 'punctuation.definition.comment.coursescript'
    'end': '\\*/'
    'name': 'comment.block.coursescript'
  },
  {
    'begin': '//'
    'beginCaptures':
        '0':
          'name': 'punctuation.definition.comment.coursescript'
    'end': '$'
    'name': 'comment.line.double-slash.coursescript'
  }
  # “ invalid string literals
  {
    'comment': 'Invalid Interpreted string literals'
    'begin': '“'
    'beginCaptures':
      '0':
        'name': 'invalid.illegal.coursescript'
    'end': '”'
    'endCaptures':
      '0':
        'name': 'invalid.illegal.coursescript'
    'name': 'invalid.illegal.coursescript'
    'captures':
      '0':
        'invalid.illegal.coursescript'
  }
]
## repository
'repository':
  'string_escaped_char':
    'patterns': [
      {
        'match': '\\\\([0-7]{3}|[abfnrtv\\\\\'"]|x[0-9a-fA-F]{2}|u[0-9a-fA-F]{4}|U[0-9a-fA-F]{8})'
        'name': 'constant.character.escape.coursescript'
      }
      {
        'match': '\\\\[^0-7xuUabfnrtv\\\'"]'
        'name': 'invalid.illegal.unknown-escape.coursescript'
      }
    ]
  'string_placeholder':
    'patterns': [
      {
        'match': '%(\\[\\d+\\])?([\\+#\\-0\\x20]{,2}((\\d+|\\*)?(\\.?(\\d+|\\*|(\\[\\d+\\])\\*?)?(\\[\\d+\\])?)?))?[vT%tbcdoqxXUbeEfFgGsp]'
        'name': 'constant.other.placeholder.coursescript'
      }
    ]
  'brackets':
    'patterns': [
      {
        'match': '\\{|\\}'
        'name': 'punctuation.other.bracket.curly.coursescript'
      }
      {
        'match': '\\(|\\)'
        'name': 'punctuation.other.bracket.round.coursescript'
      }
      {
        'match': '\\[|\\]'
        'name': 'punctuation.other.bracket.square.coursescript'
      }
    ]
  'delimiters':
    'patterns': [
      {
        'match': ','
        'name': 'punctuation.other.comma.coursescript'
      }
      {
        'match': '\\.(?!\\.\\.)'
        'name': 'punctuation.other.period.coursescript'
      }
      {
        'match': ':(?!=)'
        'name': 'punctuation.other.colon.coursescript'
      }
    ]
  # {{a, b, c}}
  # TODO(yuan): highlight first element
  'activity_options':
    'begin': '\\{\\{'
    'beginCaptures':
      '0':
        'name': 'punctuation.section.embedded.begin.coursescript'
    'end': '\\}\\}'
    'endCaptures':
      '0':
        'name': 'punctuation.section.embedded.end.coursescript'
    'patterns': [
#      {
#        'name': 'keyword.control.coursescript'
#        'match': '\\w+'
#      }
#      {
#        'name': 'string.quoted.raw.coursescript'
#        'match': '^(\\w+)[,\\s]*'
#      }
      {
        'name': 'keyword.control.coursescript'
        'match': '\\w+'
        'captures':
          '1':
            'name': 'string.quoted.raw.coursescript'
          '2':
            'name': 'keyword.control.coursescript'
      }
      {
        'include': '#delimiters'
      }
    ]
  'headings':
    'patterns': [
      {
        'match': '^(={1,6})\\s*\\S*'
        'name': 'markup.heading.coursescript'
      }
    ]
