'name': 'Course Script'
'scopeName': 'source.coursescript'
'limitLineLength': false
'fileTypes': [
  'coursescript'
  'course'
  'lls'
  'llscs'
]
'patterns': [
  {
    'include': '#brackets'
  }
  {
    'include': '#delimiters'
  }
  {
    'match': '\\\\.'
    'name': 'constant.character.escape.coursescript'
  }
  ## TYPE
  {
    'begin': '\\b(TYPE)\\s+'
    'beginCaptures':
      '1':
        'name': 'constant.character.coursescript'
    'end': '(?!\\G)'
    'patterns': [
      {
        'match': 'TYPE'
        'name': 'markup.heading.coursescript'
      }
      {
        'match': '\\S+\\b'
        'name': 'markup.bold.coursescript'
      }
    ]
  }
  # Keywords
  # ID:
  # T:
  # OPTS:
  {
    'match': '(ID|T|A|P|V|OPTS|TR):\\s'
    'name': 'storage.type.coursescript'
  }
  ## A[F]:
  ## TR[F]:
  {
    'match': '[A-Z]\\{1,2\\}\\[[A-Z]\\]:\\s'
    'name': 'storage.type.coursescript'
  }
  {
    'comment': 'Interpreted string literals'
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.coursescript'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.coursescript'
    'name': 'string.quoted.double.coursescript'
    'patterns': [
      {
        'include': '#string_escaped_char'
      }
      {
        'include': '#string_placeholder'
      }
    ]
  }
  {
    'comment': 'Raw string literals'
    'begin': '`'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.coursescript'
    'end': '`'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.coursescript'
    'name': 'string.quoted.raw.coursescript',
    'patterns': [
      {
        'include': '#string_placeholder'
      }
    ]
  }
  # Comments
  {
    'begin': '/\\*'
    'captures':
      '0':
        'name': 'punctuation.definition.comment.coursescript'
    'end': '\\*/'
    'name': 'comment.block.coursescript'
  },
  {
    'begin': '//'
    'beginCaptures':
        '0':
          'name': 'punctuation.definition.comment.coursescript'
    'end': '$'
    'name': 'comment.line.double-slash.coursescript'
  }
  #TODO(yuan): {{a, b, c}}
  {
    'begin': '\\{\\{'
    'beginCaptures':
      '0':
        'name': 'punctuation.section.embedded.begin.coursescript'
    'end': '\\}\\}'
    'endCaptures':
      '0':
        'name': 'punctuation.section.embedded.end.coursescript'
    'patterns': [

    ]
  }
]
## repository
'repository':
  'string_escaped_char':
    'patterns': [
      {
        'match': '\\\\([0-7]{3}|[abfnrtv\\\\\'"]|x[0-9a-fA-F]{2}|u[0-9a-fA-F]{4}|U[0-9a-fA-F]{8})'
        'name': 'constant.character.escape.coursescript'
      }
      {
        'match': '\\\\[^0-7xuUabfnrtv\\\'"]'
        'name': 'invalid.illegal.unknown-escape.coursescript'
      }
    ]
  'string_placeholder':
    'patterns': [
      {
        'match': '%(\\[\\d+\\])?([\\+#\\-0\\x20]{,2}((\\d+|\\*)?(\\.?(\\d+|\\*|(\\[\\d+\\])\\*?)?(\\[\\d+\\])?)?))?[vT%tbcdoqxXUbeEfFgGsp]'
        'name': 'constant.other.placeholder.coursescript'
      }
    ]
  'brackets':
    'patterns': [
      {
        'match': '\\{|\\}'
        'name': 'punctuation.other.bracket.curly.coursescript'
      }
      {
        'match': '\\(|\\)'
        'name': 'punctuation.other.bracket.round.coursescript'
      }
      {
        'match': '\\[|\\]'
        'name': 'punctuation.other.bracket.square.coursescript'
      }
    ]
  'delimiters':
    'patterns': [
      {
        'match': ','
        'name': 'punctuation.other.comma.coursescript'
      }
      {
        'match': '\\.(?!\\.\\.)'
        'name': 'punctuation.other.period.coursescript'
      }
      {
        'match': ':(?!=)'
        'name': 'punctuation.other.colon.coursescript'
      }
    ]
