'context-menu':
  'atom-text-editor, .overlayer': [
    {
      'label': 'Insert ID (Darwin/Sprout/LT/OLShortVideo)'
      'command': 'language-coursescript:insert-darwin-id'
    },
    {
      'label': 'Insert ID (CC/BE/Pilot)'
      'command': 'language-coursescript:insert-cc-id'
    },
    {
      'label': 'Insert Bell ID'
      'command': 'language-coursescript:insert-bell-id'
    },
    {
      "label": "Preview CourseScript",
      "command": "language-coursescript:preview"
    },
    {
      "label": "Search Resources",
      "command": "language-coursescript:search"
    }
  ]
