'atom-text-editor':
  'ctrl-c i': 'language-coursescript:insert-id'
  'ctrl-c p': 'language-coursescript:preview'
  'ctrl-c f': 'language-coursescript:search'
'atom-workspace':
  'ctrl-i': 'language-coursescript:focus-search'
