.language-coursescript {
  padding: 20px;
  overflow: auto;
}

.search {
  position: relative;
  margin: -9px;
}
.search-radios {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.search-resources, .search-types {
  font-size: 14px;
  > label {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    cursor: pointer;
    & + label {
      margin-left: 20px;
    }
  }
}
.search-input {
  display: flex;
  position: relative;
  border-top: 1px solid #9da5b4;
  > input {
    flex: 1 0 auto;
    padding: 0 40px 0 10px;
    font-size: 20px;
    line-height: 40px;
    border: none;
    background: none;
  }
  > i {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    &::before, &::after {
      display: block;
      position: absolute;
      content: '';
    }
    &::before {
      top: 11px;
      left: 9px;
      width: 15px;
      height: 15px;
      border: 2px solid #9da5b4;
      border-radius: 100%;
    }
    &::after {
      top: 22px;
      right: 15px;
      width: 2px;
      height: 10px;
      background: #9da5b4;
      transform: rotate(-45deg);
    }
  }
}
.search-input-tags {
  position: relative;
  width: 0px;
  text-align: center;
  font-size: 20px;
  z-index: 1;
  overflow: hidden;
  transition: all ease-in-out .3s;
  &.show {
    width: 100px;
    overflow: initial;
    border-right: 1px solid #9da5b4;
  }
  > p {
    margin: 0;
    line-height: 40px;
    cursor: pointer;
  }
  > ul {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 5px 0 0;
    padding: 0;
    width: 100px;
    max-height: 0;
    border-radius: 6px;
    background: #252830;
    list-style: none;
    overflow: hidden;
    transition: max-height ease-in-out .3s;
    &.show {
      max-height: 1000px;
    }
    > li {
      line-height: 40px;
      text-align: center;
      cursor: pointer;
      &.active, &:hover {
        color: #d7dae0;
        background: #3a3f4b;
      }
    }
  }
}
.search-results {
  max-height: 500px;
  font-size: 14px;
  border-top: 1px solid #9da5b4;
  overflow: auto;
}
.search-text {
  margin: 0;
  padding: 10px;
}
.search-item {
  padding: 10px;
  & + .search-item {
    border-top: 1px solid #9da5b4;
  }
}
.search-item.pic {
  display: flex;
  .left {
    width: 250px;
    > img {
      width: 100%;
    }
  }
  .right {
    margin-left: 10px;
  }
}
.search-item-video {
  display: flex;
  .left {
    width: 250px;
    > video {
      margin-bottom: 10px;
      width: 100%;
    }
  }
  .right {
    width: 330px;
    height: 180px;
    overflow: auto;
    > ul:not(.search-pagination) {
      padding: 0;
      list-style: none;
      > li {
        padding-left: 15px;
        cursor: pointer;
        & + li {
          margin-top: 5px;
        }
        > span {
          display: inline-block;
          margin: 0 5px;
          font-weight: bold;
          color: #6494ed;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}
.search-item-buttons {
  > p {
    display: inline-block;
    margin: 0 10px 0 0;
  }
  > span {
    display: inline-block;
    line-height: 1;
    font-size: 14px;
    color: #6494ed;
    cursor: pointer;
    &.loading {
      color: #9da5b4;
      cursor: wait;
    }
    & + span {
      margin-left: 10px;
      padding-left: 10px;
      border-left: 1px solid #999;
    }
  }
}
.search-item-audio {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-pagination {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  list-style: none;
  > li {
    display: inline-block;
    margin: 0 5px;
    padding: 5px;
    font-size: 14px;
    color: #6494ed;
    cursor: pointer;
    &.active {
      color: #fff;
    }
    &.disabled {
      color: #999;
      cursor: not-allowed;
    }
  }
}
.search-close {
  position: absolute;
  top: 100%;
  left: 50%;
  margin: 20px 0 0 -15px;
  width: 30px;
  height: 30px;
  color: #999;
  border: 2px solid #999;
  border-radius: 100%;
  background: none;
  box-sizing: border-box;
  &:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -2px;
    width: 26px;
    height: 26px;
    line-height: 1;
    font-size: 26px;
    content: '\00d7';
  }
}
